USE [master]
GO
/****** Object:  Database [FarmaD]    Script Date: 31/01/2026 21:29:32 ******/
CREATE DATABASE [FarmaD]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FarmaD', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\FarmaD.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FarmaD_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\FarmaD_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FarmaD].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FarmaD]
GO
/****** Object:  Table [dbo].[cai]    Script Date: 31/01/2026 21:29:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cai](
	[id_cai] [int] IDENTITY(1,1) NOT NULL,
	[usuario] [varchar](100) NOT NULL,
	[rtn] [varchar](20) NOT NULL,
	[fecha_inicio] [date] NOT NULL,
	[fecha_final] [date] NOT NULL,
	[cai_numero] [varchar](40) NOT NULL,
	[rango_inicio] [varchar](25) NOT NULL,
	[rango_final] [varchar](25) NOT NULL,
	[estado] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_cai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[clientes]    Script Date: 31/01/2026 21:29:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[clientes](
	[id_cliente] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[correo] [varchar](100) NOT NULL,
	[telefono] [varchar](20) NULL,
	[identidad] [varchar](50) NOT NULL,
	[edad] [int] NULL,
	[fecha_registro] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[correo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[identidad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[comentarios]    Script Date: 31/01/2026 21:29:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[comentarios](
	[id_comentario] [int] IDENTITY(1,1) NOT NULL,
	[comentario] [nvarchar](max) NOT NULL,
	[correo] [nvarchar](100) NOT NULL,
	[telefono] [nvarchar](20) NOT NULL,
	[categoria] [nvarchar](50) NOT NULL,
	[fecha] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_comentario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dev_prov]    Script Date: 31/01/2026 21:29:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dev_prov](
	[id_dev_prov] [int] IDENTITY(1,1) NOT NULL,
	[id_pedido_prov] [int] NOT NULL,
	[proveedor] [nvarchar](100) NOT NULL,
	[producto] [nvarchar](100) NOT NULL,
	[devuelto] [decimal](10, 2) NOT NULL,
	[fecha] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_dev_prov] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[factura_detalle]    Script Date: 31/01/2026 21:29:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[factura_detalle](
	[id_detalle] [int] IDENTITY(1,1) NOT NULL,
	[id_factura_fk] [int] NOT NULL,
	[producto_nombre] [varchar](200) NULL,
	[cantidad] [int] NULL,
	[precio_unitario] [decimal](18, 2) NULL,
	[total_linea] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_detalle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[facturas]    Script Date: 31/01/2026 21:29:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[facturas](
	[id_factura] [int] IDENTITY(1,1) NOT NULL,
	[numero_factura] [varchar](30) NOT NULL,
	[id_cai_fk] [int] NOT NULL,
	[fecha_emision] [datetime] NULL,
	[subtotal] [decimal](18, 2) NULL,
	[impuesto] [decimal](18, 2) NULL,
	[total_final] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_factura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[historico_inventario]    Script Date: 31/01/2026 21:29:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[historico_inventario](
	[id_historico] [int] IDENTITY(1,1) NOT NULL,
	[id_inventario] [int] NULL,
	[producto] [nvarchar](255) NULL,
	[cantidad] [int] NULL,
	[precio] [decimal](18, 2) NULL,
	[preciomulti] [decimal](18, 2) NULL,
	[alerta] [nvarchar](255) NULL,
	[accion] [nvarchar](50) NULL,
	[fecha_accion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_historico] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[historico_prov]    Script Date: 31/01/2026 21:29:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[historico_prov](
	[id_historico] [int] IDENTITY(1,1) NOT NULL,
	[id_pedido_prov] [int] NULL,
	[proveedor] [nvarchar](255) NULL,
	[producto] [nvarchar](255) NULL,
	[precio] [decimal](18, 2) NULL,
	[cantidad] [int] NULL,
	[suma_total] [decimal](18, 2) NULL,
	[fecha] [datetime] NULL,
	[estipulado] [nvarchar](255) NULL,
	[alerta] [nvarchar](255) NULL,
	[accion] [nvarchar](50) NULL,
	[fecha_accion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_historico] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[inventario]    Script Date: 31/01/2026 21:29:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[inventario](
	[id_inventario] [int] IDENTITY(1,1) NOT NULL,
	[producto] [nvarchar](255) NOT NULL,
	[cantidad] [int] NOT NULL,
	[precio] [decimal](10, 2) NOT NULL,
	[preciomulti] [decimal](10, 2) NULL,
	[alerta] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_inventario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pedido_prov]    Script Date: 31/01/2026 21:29:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pedido_prov](
	[id_pedido_prov] [int] IDENTITY(1,1) NOT NULL,
	[proveedor] [nvarchar](255) NOT NULL,
	[producto] [nvarchar](255) NOT NULL,
	[precio] [decimal](10, 2) NOT NULL,
	[cantidad] [int] NOT NULL,
	[suma_total] [decimal](10, 2) NOT NULL,
	[fecha] [date] NOT NULL,
	[estipulado] [nvarchar](50) NOT NULL,
	[alerta] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_pedido_prov] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Productos]    Script Date: 31/01/2026 21:29:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Productos](
	[id_producto] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](255) NOT NULL,
	[categoria] [nvarchar](100) NULL,
	[tipo] [nvarchar](50) NOT NULL,
	[aceptado] [nvarchar](50) NOT NULL,
	[tipo_cantidad] [nvarchar](50) NOT NULL,
	[cantidad] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[proveedores]    Script Date: 31/01/2026 21:29:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[proveedores](
	[id_proveedor] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](100) NOT NULL,
	[nombre_contacto] [nvarchar](100) NULL,
	[numero] [nvarchar](20) NULL,
	[distancia] [nvarchar](50) NULL,
	[departamento] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_proveedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[roles]    Script Date: 31/01/2026 21:29:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[roles](
	[id_rol] [int] IDENTITY(1,1) NOT NULL,
	[rol] [varchar](50) NOT NULL,
	[usuario] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_rol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[usuarios]    Script Date: 31/01/2026 21:29:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuarios](
	[id_usuario] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[contrasena] [varchar](255) NOT NULL,
	[email] [varchar](100) NOT NULL,
	[telefono] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[cai] ADD  DEFAULT ('Activo') FOR [estado]
GO
ALTER TABLE [dbo].[clientes] ADD  DEFAULT (getdate()) FOR [fecha_registro]
GO
ALTER TABLE [dbo].[comentarios] ADD  DEFAULT (getdate()) FOR [fecha]
GO
ALTER TABLE [dbo].[facturas] ADD  DEFAULT (getdate()) FOR [fecha_emision]
GO
ALTER TABLE [dbo].[historico_inventario] ADD  DEFAULT (getdate()) FOR [fecha_accion]
GO
ALTER TABLE [dbo].[historico_prov] ADD  DEFAULT (getdate()) FOR [fecha_accion]
GO
ALTER TABLE [dbo].[dev_prov]  WITH CHECK ADD  CONSTRAINT [FK_PedidoDevuelto] FOREIGN KEY([id_pedido_prov])
REFERENCES [dbo].[pedido_prov] ([id_pedido_prov])
GO
ALTER TABLE [dbo].[dev_prov] CHECK CONSTRAINT [FK_PedidoDevuelto]
GO
ALTER TABLE [dbo].[factura_detalle]  WITH CHECK ADD FOREIGN KEY([id_factura_fk])
REFERENCES [dbo].[facturas] ([id_factura])
GO
ALTER TABLE [dbo].[facturas]  WITH CHECK ADD FOREIGN KEY([id_cai_fk])
REFERENCES [dbo].[cai] ([id_cai])
GO
ALTER TABLE [dbo].[roles]  WITH CHECK ADD  CONSTRAINT [FK_usuario_rol] FOREIGN KEY([usuario])
REFERENCES [dbo].[usuarios] ([email])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[roles] CHECK CONSTRAINT [FK_usuario_rol]
GO
ALTER TABLE [dbo].[cai]  WITH CHECK ADD CHECK  (([estado]='Inactivo' OR [estado]='Activo'))
GO
ALTER TABLE [dbo].[Productos]  WITH CHECK ADD CHECK  (([aceptado]='Otro' OR [aceptado]='Mayor' OR [aceptado]='Adulto' OR [aceptado]='Joven'))
GO
ALTER TABLE [dbo].[Productos]  WITH CHECK ADD CHECK  (([tipo_cantidad]='Otro' OR [tipo_cantidad]='Gramo' OR [tipo_cantidad]='ML' OR [tipo_cantidad]='MG' OR [tipo_cantidad]='Litro'))
GO
ALTER TABLE [dbo].[Productos]  WITH CHECK ADD CHECK  (([tipo]='Otro' OR [tipo]='Gel' OR [tipo]='Líquido' OR [tipo]='Vacuna' OR [tipo]='Sólido'))
GO
USE [master]
GO
